/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */

* {
    font-family: 'poppons', sans-serif;
    box-sizing: border-box;
    transition :1s;
}
.header-container .title {
    display: flex;
    font-size: 1.2rem;
    padding: 10px;
    color: #13C5DD !important;
    align-self: center;
}
.title img {
    width: 80px;
    padding: 5px;
}

.body{
    text-align: center;
}
.body h1{
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
}
.body .choose-box{
    display:flex;
    margin-left:350px;
    padding:0px;
}
.body .choose-box .user{
    width:35%;
    height:200px;
    border: 1px solid #c2c2c2;
    font-size:1.5rem;
    padding:30px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}
.body .choose-box .user input{
    cursor: pointer;
}
.body input[type="submit"]{
    text-align: center;
    margin: auto;
    font-size: 1rem;
    font-weight: bolder;
    padding:8px;
    background-color: #13c6dd !important;
    border-radius: 15px;
}
/* ====responsive design ======== */
@media(max-width:600px) {
.header-container .title {
        font-size: 1.1rem;
        padding: 5px;
}
    .title img {
        width: 60px;
    }
    .body h1 {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
}
    .body .choose-box {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        padding: 0px;
}
    .body .choose-box .user {
        width: 70%;
        line-height: 2rem;
        height: 220px;
        font-size: 1.5rem;
        padding: 15px;
        margin: 5px;
}
    .body input[type="submit"] {
        font-size: 1rem;
        padding: 8px;
}
}
@media (min-width: 600px) and (max-width:1115px){
.header-container .title {
        font-size: 1.1rem;
        padding: 5px;
    }

    .title img {
        width: 60px;
    }

    .body h1 {
        font-size: 1.75rem;
        letter-spacing: 0.1rem;
    }

    .body .choose-box {
        display: flex;
        margin-left: 150px;
        margin-right: 50px;
        padding: 0px;
    }
    .body .choose-box .user {
        width: 60%;
        line-height: 2rem;
        height: 220px;
        font-size: 1.5rem;
        padding: 15px;
        margin: 10px;
    }
    .body input[type="submit"] {
        font-size: 1rem;
        padding: 8px;
    }
}


