@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    font-family: 'poppons',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* =====BUTTON SECTION==== */
.header-button{
    text-align: right;
    padding:4px;
    border-bottom: 1px solid #c9c9c9;
}
.header-button button{
    font-size: 1.1rem;
    background-color: #32d5eb;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
}
.header-button #button1{
    color: #106874;
    background-color: transparent;
    font-weight: bolder;
    border: none;
}

/* ======HEADER SECTION===== */
.header-container{
    display:flex;
    text-align: center;
    background-color: white;
    top:0;
}
.header-container .title{
    display: flex;
    font-size: 1.5rem;
    padding: 10px;
    color:#13C5DD !important;
    align-self: center;
}
.title img{
    width:100px;
    padding:10px;
}
.header-container .menu-bar  ul,li{
    display: flex;
    width: fit-content;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px 50px;
    list-style: none;
}
.header-container .menu-bar li a{
    text-decoration: none;
    color: black;
    transition: 1s;
    &:hover{
        color: #13C5DD !important;
        text-decoration: underline;
        text-decoration-thickness: 5px;
        text-decoration-color:#13C5DD ;
    }
}
.header-container .togglebutton{
    display: none;
}/* ====HEADER SECTIO ENDS HERE */

/* ====HOME SECTION STARTS HERE===== */
.home{
    height:700px;
    background-image: url(images/homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home #home{
    display: flex;
    width:60%;
    flex-direction: column;
    justify-content: center;
}
#home h4{
    margin: 100px;
    font-size: 1.35rem;
    padding: 10px;
    color: #13C5DD !important;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(211, 200, 200);
    text-align: left;
}
#home p{
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    text-transform: capitalize;
}
.home .Button{
    width:80%;
    text-align: center;
    
}
.Button button{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 10px;
    padding:15px 20px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: transparent;
    transition: 1ms;
    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
.Button #button1{
    background-color: white;
}
.Button #button1 a{
    text-decoration: none;
    color: #000;
}


/* ======HOME SECTION ENDS HERE== */

/* =====ABOUT PAGE STARTS HERE=== */
.about{
    display:flex;
    margin:100px;
    justify-items: center;
}
.about .aboutimage img{
    width:530px;
    height:520px;
    margin-right:30px;
    border-radius: 25px;
}
.about .description h2{
    margin: 5px;
    font-size: 1.25rem;
    padding: 5px;
    color: #13C5DD !important;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(211, 200, 200);
    text-align: left;
}
.about .description h1 {
    margin: 5px;
    font-size: 2.5rem;
    padding: 5px;
    color: #00134e !important;
    text-align: left;
}
.about .description p{
    font-size: 1.25rem;
    padding: 5px;
    margin: 5px;
    color: rgb(114, 113, 113);
}
.description span{
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    padding: 5px;
    &:hover {
        cursor: pointer;
    }
}
.description span img{
    width:50px;
    margin:35px;
    border-radius:50%;
}
/* =====SERVICES PAGE STARTS HERE=== */
.services{
    margin-top: 30px;
    margin-bottom: 30px;
}
.services h2{
    margin: 5px;
    font-size: 1.25rem;
    padding: 5px;
    color: #13C5DD !important;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(211, 200, 200);
    text-align: center;
}
.services h1{
    margin: 5px;
    font-size: 2.5rem;
    padding: 5px;
    text-transform: capitalize;
    color: #00134e !important;
    text-align: center;
}
.Service{
    margin:50px 0px;
}
.services .service-given{
    width:30%;
    height:350px;
    display:block;
    padding: 50px;
    margin:15px;
    float:left;
    background-color: #cef0f5;
    text-align: center;
    &:hover{
        transform: scale(1.05);
        box-shadow: 3px 6px 9px rgb(64, 102, 107);
        cursor: pointer;
    }
}
.service-given img{
    padding: 20px;
    margin:5px;
    width: 80px;
    border-radius: 40%;
    background-color: #13C5DD !important;
}
.service-given p{
    padding: 5px;
    margin: 5px;
    color: rgb(114, 113, 113);
}
/* =======OUR TEAM SECTION STARTS HERE========== */
.our-Team{
    margin-top:100px ;
}
.our-Team h2 {
    margin: 5px;
    font-size: 1.25rem;
    padding: 5px;
    color: #13C5DD !important;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(211, 200, 200);
    text-align: center;
}
.our-Team h1 {
    margin: 5px;
    font-size: 2.5rem;
    padding: 5px;
    text-transform: capitalize;
    color: #00134e !important;
    text-align: center;
}
.our-Team .our-Doctors .doctors {
    display: block;
    height: 600px;
    float: left;
    width: 30%;
    border: 1px solid rgba(14, 13, 13, 0.329);
    margin: 10px;
    margin-left: 20px;
    box-shadow: 2px 4px 6px #84ceff;
    background-color: #fffefe;
    cursor: pointer;
}
.our-Team .our-Doctors .doctors img {
    width: 90%;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
}

.our-Team .our-Doctors .doctors h4 {
    font-size: 1.4rem;
    text-align: center;
    color: rgb(83, 47, 47);
}
.our-Team .our-Doctors .doctors p {
    width: 85%;
    padding: 20px;
    font-size: 1.25rem;
    text-align: center;
    color: #4e4e4e;
}
.our-Team .our-Doctors .doctors p::first-line {
    font-size: 1.25rem;
    font-weight: 600;
}
/* =====CONATACT PAGE STARTS HERE=== */
.contact {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}
.contact .title h4{
    margin: 5px;
    font-size: 1.25rem;
    padding: 5px;
    color: #13C5DD !important;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(211, 200, 200);
    text-align: center;
}
.contact .title h1{
    margin: 5px;
    font-size: 2.5rem;
    padding: 5px;
    text-transform: capitalize;
    color: #00134e !important;
    text-align: center;
}
.rows img{
    padding: 20px;
    margin: 5px;
    width: 80px;
    border-radius: 50%;
    background-color: #13C5DD !important;
}
.contact .rows{
    width: 30%;
    height: 250px;
    font-size:1.1rem;
    display: block;
    padding: 50px;
    margin: 15px;
    float: left;
    background-color: #cef0f5;
    text-align: center;
    &:hover {
            transform: scale(1.05);
            box-shadow: 3px 6px 9px rgb(64, 102, 107);
            cursor: pointer;
        }
}
.contact .form{
    margin:50px;
}
.contact .form form{
    background-color: #ffffff;
    width:50%;
    height:550px;
    height:max-content;
    margin: auto;
    border-radius:20px;
    box-shadow: 3px 6px 9px rgb(64, 102, 107);
    text-align: center;
    padding:20px;
}
.form form input{
    background-color: #ececec;
    padding: 20px;
    width: 85%;
    margin: 10px;
    display: block;
    float: left; 
    border-radius: 10px;
    transition: 0.75s;
    &:hover{
        border: 3px solid #99dbe4;
    }
}
form>input:nth-child(1),input:nth-child(2){
    width:40%;
    margin: 15px;
}
form>input:nth-child(2){
    width: 40%;
    margin: 10px;
}
.form form textarea{
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: #eceeee;
    transition: 0.75s;
        &:hover {
            border: 3px solid #99dbe4;
        }
}
.form form #submit{
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #13C5DD;
    border:1px solid transparent;
}
/* =======FOOTER SECTION PAGE========== */
.footer{
    margin-top:100px;
    width: 100%;
    color:white;
    padding:40px;
    background-color: #182a53 !important;
}
.footer .footer-block{
    display: flex;
    margin-left:50px;
    gap: 50px;
    justify-items: center;
}
.footer-block .footer-contact h2{
    margin: 5px;
    font-size: 1.4rem;
    padding: 5px;
    color: #13C5DD !important;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(211, 200, 200);
    text-align: left;
}
.footer-block .footer-contact img{
    width:20px;
    margin:10px;
}
.footer-block .Quicklink h2 {
    margin: 5px;
    font-size: 1.4rem;
    padding: 5px;
    color: #13C5DD !important;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(180, 178, 178);
    text-align: left;
}
.footer-block .Quicklink ul,li a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}
.footer-block .social-media h2 {
    margin: 5px;
    font-size: 1.4rem;
    padding: 5px;
    color: #13C5DD !important;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(211, 200, 200);
    text-align: left;
}
.footer-block .social-media .icon{
    width: 350px;
    padding: 50px;
}
.footer-block .social-media .icon h4{
    font-size: 1.2rem;
    margin: 20px;
    color: #13C5DD !important;
    text-transform: uppercase;
    text-align: left;
}
.footer-block .social-media .icon img{
    width:50px;
    margin:6px;
    float: left;
}
.below-hr{
    border-top: 1px solid rgb(104, 230, 247);
    padding:5px;
}
.below-hr p{
    margin: 0px;
    text-align: center;
}
