/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */

* {
    font-family: 'poppons', sans-serif;
    box-sizing: border-box;
}
.header-container{
    margin: 0;
    padding:0;
}
.header-container .title {
    display: flex;
    font-size: 1.1rem;
    padding: 5px;
    color: #13C5DD !important;
    align-self: center;
}
.title img {
    width: 70px;
    padding: 0px;
    
}
form {
    display: flex;
    flex-direction: column;
}
input {
    width: 70%;
    margin: 10px;
    margin-left:50px;
    padding: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}
input[type=submit] {
    background-color: #13c5dd;
    margin:auto;
    font-size: 1.3rem;
    font-weight: bolder;
    padding:5px;
    width:150px;
    text-align: center;
    border-radius: 20px;
}
.loginform {
    width:40%;
    margin:auto;
    margin-top: 30px;
    text-align: center;
    margin-top: 150px;
    background-color: rgb(207, 237, 238);
    padding: 20px;
    border-radius: 20px;
}
.signinsignuplink {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: lighter;
}
.loginform label,select{
    width:fit-content;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left:70px;
}
.success {
    color: green;
    font-size: 1.5rem;
    text-align: center;
}

.unsuccess {
    color: red;
    font-size: 1.5rem;
    text-align: center;
}